{{#if (or transfer.isAcceptable wasInitiallyAcceptable)}}
  {{t "accept_transfer.sent_tickets" name=(or transfer.sender.firstName transfer.sender.email)}}
  {{#liquid-if transfer.isAcceptable}}
    <br>
    {{t "accept_transfer.accept_tickets"}}
  {{/liquid-if}}
{{else if transfer.isPending}}
  {{t "accept_transfer.header_states.NOT_ACCEPTABLE"}}<br>
  <span class="text-r5 text-large-2 inline-flex flex--align-center margin-top-3">
    <span class="tf-alert margin-right-1"></span>
    {{t "accept_transfer.header_states.STATUS"}}&nbsp;{{transfer.acceptanceState.description}}
  </span>
{{else}}
  {{t (concat "accept_transfer.header_states" "." transfer.status)}}
{{/if}}
